#booking{
	height: 350px;
}
#reserva-container{
	display: none;
}

.lista-doces{
	li{
		@include colunas(3, 0px);

		&:nth-child(10){
			display: none;
		}
	}
	img{
		width: 33.333vw;
		height: 33.333vw;
	}
}

#cupcake{
	.conteudo{
		width: 40%;
	}
	.cupcake{
		opacity: .3;
	}
}