// COLOR VARS
$cinzaEscuro:		#242424;
$cinza:				#434343;
$cinzaClaro: 		#c3c3c3;
$vermelho:			#df3843;
$branco:			#fff;
$preto:				#000;

// SASS VARS
$baseColor: 		$cinza;
$alternateColor: 	$cinzaEscuro;
$highlight: 		$vermelho;
$background: 		$branco;
$borderColor: 		$cinzaClaro;
$textColor: 		$preto;
$headingColor: 		$preto;
