#booking{
	background: url(../images/bg2.jpg) no-repeat top;
	background-size: cover;
	//overflow: hidden;
	position: relative;
	width: 100%;
	height: 100vh;

	// &::before{
	// 	background: rgba($preto, .55);
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 1;
	// }

	h1{
		@include absoluteAlign(50%, 50%);
		color: $branco;
		font: normal 146px $alternativeFont;
		z-index: 10;
	}
}

#reserva-container{
	position: absolute;
	bottom: 50px;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 10;
}
#reserva{
	@include clearfix;
	background: $branco;
	position: relative;
	width: 100%;

	&::before{
		@include animacao;
		background: $highlight;
		color: $branco;
		content: 'verifique os campos obrigatórios';
		display: block;
		font: $bold 12px $headingFont;
		position: absolute;
		bottom: calc(100% - 24px);
		left: 0;
		text-align: center;
		width: 100%;
		line-height: 24px;
		z-index: -1;
	}
	&.erro::before{
		bottom: 100%;
	}

	.campo-reserva, button{
		box-sizing: border-box;
		float: left;
		height: 106px;
		position: relative;
	}
	.campo-reserva{
		padding: 15px 2.34% 0;

		&+.campo-reserva{
			border-left: 1px solid $gelo;
		}

		label{
			display: block;
			font-size: 10px;
			margin: 0 auto 10px;
			text-transform: uppercase;
			text-align: center;
		}
		input{
			display: none;
		}
	}
	.calendario{
		width: 12.75%;
	}
	.quantidade{
		width: 18%;
	}
	.valor{
		border: 0;
		color: $alternateColor;
		display: block;
		font: $light 40px $headingFont;
		margin: auto;
		text-align: center;
		width: 70%;
		height: 42px;
	}
	.abre-calendario, .menos, .mais{
		cursor: pointer;
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;

		&::before{
			@include absoluteAlign(50%, 50%);
			content: '';
			display: block;
		}
	}
	.abre-calendario{
		left: calc(50% - 10px);
		bottom: 5px;

		&::before{
			@include sprite($seta-abaixo);
		}
	}
	.menos{
		bottom: 37px;
		left: 13%;

		&::before{
			@include sprite($menos);
		}
	}
	.mais{
		bottom: 37px;
		right: 13%;

		&::before{
			@include sprite($mais);
		}
	}
	.promocode{
		width: 16.7%;

		input{
			border: 1px solid $alternateColor;
			display: block;
			font-size: 16px;
			margin-top: 20px;
			text-transform: uppercase;
			width: 100%;
			height: 34px;
		}
	}
	button{
		@include animacao;
		background: $alternateColor;
		color: $branco;
		font: $light 27px $headingFont;
		text-transform: uppercase;
		width: 21.8%;

		&:hover{
			background: #474747;
		}
	}
}

#calendario{
	background: $branco;
	box-shadow: 2px 2px 3px rgba($preto, .2);
	box-sizing: border-box;
	padding: 2px;
	position: absolute;
	top: calc(100% + 3px);
	left: calc(50% - 110px);
	width: 220px;

	.header{
		background: $alternateColor;
		color: $branco;
		font-size: 16px;
		//font-weight: $bold;
		line-height: 29px;
		text-transform: uppercase;

		a{
			display: block;
			margin: 9px;
		}

		.mes-anterior{
			@include sprite($seta-esquerda);
			float: left;
		}
		.mes-posterior{
			@include sprite($seta-direita);
			float: right;
		}
	}

	ul{
		@include clearfix;
	}
	li{
		@include colunas(7, 0px);
		box-sizing: border-box;
		line-height: 27px;
	}

	.semana{
		font-size: 10px;
		text-transform: uppercase;
	}
	.dias{
		font-size: 14px;

		li{
			background: #e2e2e2;
			border: 1px solid $branco;
			cursor: pointer;

			&.sel{
				background: #6c6c6c;
				color: $branco;
			}
		}
	}
}