$mainWidth: 940px;
$padding: 8vw;

.container {
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.content {
  margin: 0 auto;
  position: relative;
  max-width: $mainWidth;
}
.wrapper{
  margin: auto;
  padding-left: $padding;
  padding-right: $padding;
  max-width: $mainWidth;
}
.wrapper-full{
  margin: auto;
  padding: $padding;
  max-width: $mainWidth;
}

hr{
  background: $borderColor;
  display: block;
  margin: 55px auto;
  width: 296px;
  height: 2px;
}